.calculator {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}


h1 {
    font-size: 50px;
}


.input-field {
    margin-bottom: 20px;
    font-size: 20px;
}


.result {
    margin-bottom: 10px;
    color: gray;
    font-size: 30px;
    font-weight: bold;
}


.button {
    font-size: 40px;
    margin: 10px;
    border-radius: 15px;
    height: 80px;
    width: 80px;
}